.Hero {
    width: min-content;
    padding: 2vh 2vw;
    min-height: 60vh;
    margin-top: -36vh;
}

.H1, .H2 {
    font-size: 3rem;
    text-shadow: #000 0.1em 0.1em 0.2em;
}

.H1 {
    margin-top: 10vh;
}

.H2 {
    color: #3579f8;
    width: max-content;
}

.TypedWriter {
    color: #24C286;
    margin-top: 1vh;
    min-height: 9vh;
}

.SVG {
    margin-top: 5vh;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: #000 0.1em 0.1em 0.2em;
    backdrop-filter: blur(5px);
    // justify-content: space-between;
    // align-items: center;
    max-width: min-content;
    padding: 12px 10px;
    border-radius: 25px;
}

.SVG img {
    // width: 2.5vw;
    padding: 0 14px;
}