.Experience {
    background: rgb(50, 50, 50, .4);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    @apply flex flex-col text-white justify-center items-center;
    @apply min-h-100vh w-100% gap-8 py-2;
}

.ExpCard {
    background: rgb(0, 0, 0, .4);
    border-bottom: .5px solid rgb(0, 0, 100, .4);
    border-radius: 12px;
    @apply flex flex-col justify-center;
    @apply h-100 w-80 p-4 gap-2;

    img {
        @apply h-15 w-15;
    }

    h3, p {
        @apply px-2 text-justify;
    }

    hr {
        border: none;
        border-bottom: .2px solid rgb(255, 255, 255, .4);
    }
}