@font-face {
    font-family: 'Roboto Condensed';
    src: url(public/assets/Roboto-Condensed.ttf);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background: url(public/assets/Background-Image.png);
    // background-size: cover;
}

::-moz-selection {
    color: #fff;
    background: #000;
}
  
::selection {
    color: #fff;
    background: #000;
}

// ::-webkit-scrollbar {
//     background: rgb(0, 0, 0);
//     width: 14px;
// }

// /* Scrollbar Background Hover */
// ::-webkit-scrollbar:hover {
//     border: 1px rgb(255, 255, 255) solid;
// }

// /* Scrollbar Thumb */
// ::-webkit-scrollbar-thumb {
//     background: rgb(58, 1, 6);
// }

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

// /* Scrollbar Track */
// ::-webkit-scrollbar-track {
//     background: rgb(0, 0, 0);
// }

// /* Scrollbar Track Hover */
// ::-webkit-scrollbar-track:hover {
//     background: rgb(0, 0, 0);
// }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .9);
    border-radius: 10px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2c29d6;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, .4) 50%, transparent, transparent)
}

// Lenis CSS

html.lenis, html.lenis body {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-smooth iframe {
    pointer-events: none;
}